# Python Code to Import and Add Data to MySQL

## 1) Importing the data from csv using Pandas

In [116]:
import pandas as pd
df = pd.read_csv('kz2.csv', index_col=False, delimiter = ',', 
                              names=['event_time', 'order_id', 'product_id', 'category_id', 'category_code'
                                    , 'brand', 'price', 'user_id'], low_memory=False,  header=None)

## 1) Printing all colums available in dataset/dataframe

In [117]:
# creating column list for insertion
cols = "`,`".join([str(i) for i in df.columns.tolist()])
print(cols)

event_time`,`order_id`,`product_id`,`category_id`,`category_code`,`brand`,`price`,`user_id

## 1) Installing mysql connector

In [118]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mysql-connector-python) (3.11.3)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (45.2.0)
Requirement already satisfied: six>=1.9 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.14.0)

## Creating Tables

In [120]:
DB_NAME = 'store'

TABLES = {}

#need to remove duplicates of category
TABLES['Category'] = (
    "CREATE TABLE `Category` ("
    "  `category_id` varchar(50) ,"
    "  `category_code` varchar(50) NOT NULL,"
     "  CHECK (`category_id`<=9223372036854775807 AND `category_id`>0),"
    "  PRIMARY KEY (`category_id`)"
    ") ENGINE=InnoDB")

TABLES['Products'] = (
    "CREATE TABLE `Products` ("
    "  `product_id` varchar(50) ,"
    "  `brand` varchar(30),"
    "  `category_id` BIGINT(30),"
    "  `price` DECIMAL(10,2) DEFAULT '0.00',"
    "  PRIMARY KEY (`product_id`),"
    "  CHECK (`product_id`<=9223372036854775807 AND `product_id`>0),"
    "  CHECK (`category_id`<=9223372036854775807 AND `category_id`>0)"
    ") ENGINE=InnoDB")


#we don't need an orders table 
TABLES['Orders'] = (
    "CREATE TABLE `Orders` ("
    "  `order_id` varchar(50),"
    "  `user_id` varchar(50),"
    "  `event_time` TIMESTAMP DEFAULT CURRENT_TIMESTAMP,"
    "  PRIMARY KEY (`order_id`),"
    "  CHECK (`order_id`<=9223372036854775807 AND `order_id`>0),"
    "  CHECK (`user_id`<=9223372036854775807 AND `user_id`>0)"
    ") ENGINE=InnoDB")

TABLES['PurchasedProducts'] = (
    "CREATE TABLE `PurchasedProducts` ("
    "  `purchase_id` int(11) AUTO_INCREMENT,"
    "  `product_id`  varchar(50),"
    "  `order_id` varchar(50) ,"
    "  `user_id` varchar(50) ,"
    "  `quantity` int(10) NOT NULL DEFAULT '0',"
    "  `event_time` TIMESTAMP DEFAULT CURRENT_TIMESTAMP,"
    "  PRIMARY KEY (`purchase_id`),"
    "  CONSTRAINT `products_PurchasedProducts_Fk1` FOREIGN KEY (`product_id`)"
    "  REFERENCES `Products` (`product_id`) ON DELETE CASCADE ON UPDATE CASCADE,"
    "  CHECK (`product_id`<=9223372036854775807 AND `product_id`>0),"
    "  CHECK (`order_id`<=9223372036854775807 AND `order_id`>0),"
    "  CHECK (`user_id`<=9223372036854775807 AND `user_id`>0)"
    ") ENGINE=InnoDB")

TABLES['Inventory'] = (
    "CREATE TABLE `Inventory` ("
    "  `transaction_id` int(11) AUTO_INCREMENT,"
    "  `product_id`  varchar(50) NOT NULL,"
    "  `added_quantity` int(11) DEFAULT '0',"
    "  `sold_quantity` int(11) DEFAULT '0',"
    "  `event_time` TIMESTAMP DEFAULT CURRENT_TIMESTAMP,"
    "  PRIMARY KEY (`transaction_id`),"
    "  CONSTRAINT `inventory_products_fk1` FOREIGN KEY (`product_id`) "
    "   REFERENCES `Products` (`product_id`) ON DELETE CASCADE ON UPDATE CASCADE,"
    "  CHECK (`product_id`<=9223372036854775807 AND `product_id`>0)"
    ") ENGINE=InnoDB")

## Connecting To MySQL to create databases

In [121]:
import mysql.connector
from mysql.connector import errorcode

In [122]:
config = {
  'user': 'root',
  'password': 'root',
  'host': '127.0.0.1',
  'port': 8889,
  'raise_on_warnings': True
}
mydb = mysql.connector.connect(**config)
cursor = mydb.cursor(dictionary=True)

## Create Databse Function

In [123]:

def create_database(cursor):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(DB_NAME))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

## Executing Create Database Fuction

In [124]:
try:
    cursor.execute("USE {}".format(DB_NAME))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(DB_NAME))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor)
        print("Database {} created successfully.".format(DB_NAME))
        mydb.database = DB_NAME
    else:
        print(err)
        exit(1)

# Creating Tables

In [125]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

Creating table Category: OK
Creating table Products: OK
Creating table Orders: OK
Creating table PurchasedProducts: OK
Creating table Inventory: OK

# Creating sqlalchemy connection for inserts data into tables

In [126]:
from sqlalchemy import create_engine

In [127]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost:{port}/{db}"
                       .format(user="root",
                               pw="root",
                               port=8889,
                               db="store"))

## Inserting to Category Table

In [128]:
#get copy of main df
dfForCategory = df.copy()
#drop duplicates of df for subset order id and product id
dfCategDD = dfForCategory.drop_duplicates(subset = ["order_id", "product_id"])
#drop na/nan/null rows for df
dfCatDDNaDropped = dfCategDD.dropna()
#drop duplicates based on subset category id
categoryDFForInsert = dfCatDDNaDropped.drop_duplicates(subset = ["category_id"])[['category_id', 'category_code']]

In [129]:
categoryDFForInsert

                category_id                    category_code
0               category_id                    category_code
1       2268105428166508982           electronics.smartphone
845     2268105458457772096                    apparel.glove
1786    2268105407220155366               computers.notebook
1964    2268105402556089218  appliances.personal.hair_cutter
...                     ...                              ...
998940  2268105460957577334             accessories.umbrella
999213  2268105446210405174        furniture.bedroom.blanket
999218  2268105413218009200                     kids.bottles
999681  2268105649105666486                    apparel.glove
999707  2268105443869983492    furniture.living_room.cabinet

[284 rows x 2 columns]

In [130]:
categoryDFForInsert[1:].to_sql('Category', con = engine, if_exists = 'append', chunksize = 1000, index = False)

## Inserting to Products Table

In [131]:
#get copy of main df
dfForProducts = df.copy()
#drop duplicates of df for product id
dfProdDD = dfForProducts.drop_duplicates(subset = ["product_id"])
#drop na/nan/null rows for df
dfProdDDNaDropped = dfProdDD.dropna()
#merge with category
productDFForInsert = dfProdDDNaDropped[['product_id','brand', 'category_id', 'price']]

In [132]:
productDFForInsert[1:].to_sql('Products', con = engine, if_exists = 'append', chunksize = 1000, index = False)

# Inserting to Orders Table

In [133]:
#get copy of main df
dfForOrders = df.copy()
#drop duplicates of df for order id
dfOrdersDD = dfForOrders.drop_duplicates(subset = ["order_id"])
#drop na/nan/null rows for df
dfOrderDDNaDropped = dfOrdersDD.dropna()
#get subset of columns to insert
orderDFForInsert = dfOrderDDNaDropped[['order_id','event_time','user_id']]

In [134]:
orderDFForInsert[1:].to_sql('Orders', con = engine, if_exists = 'append', chunksize = 1000, index = False)

# Inserting to Inventory Table

In [135]:
dfInv = df.copy() 
dfInv

#get copy of main df
dfForInv = df.copy()

#add column for added_quantity and set available to 1000
dfInv['added_quantity'] = 100

#calculate sold_quantity column 
dfInv['sold_quantity']= dfInv.groupby(by=['product_id'])['product_id'].transform('count')

#set all added_quantity columns where sold_quantity greater than 1000 to 1500
dfInv['added_quantity'].loc[dfInv['sold_quantity'] > 100] = 2000

#drop duplicate products for filling table data
dfInvDD = dfInv.drop_duplicates(subset=['product_id'])

#drop na/nan/nil 
dfInvDDDNa = dfInvDD.dropna()

#subset to insert
dfInvInsert = dfInvDDDNa[['product_id','event_time','sold_quantity', 'added_quantity']]

/Users/pragatwagle/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [136]:
dfInvInsert[1:].dropna().to_sql('Inventory', con = engine, if_exists = 'append', chunksize = 1000, index = False)

## Inserting into Purchased Products Table

In [137]:
#get copy of main df
dfForPurchasedProducts = df.copy()

#drop duplicates of df for order id
dfPurchasedDD = dfForPurchasedProducts.drop_duplicates(subset = ['product_id','order_id'])

#drop na/nan/null rows for df
dfPurchasedDDNaDropped = dfPurchasedDD.dropna()

#get quantity of product sold by order
dfPurchasedDDNaDropped['quantity']= dfPurchasedDDNaDropped.groupby(by=['product_id','order_id'])['product_id'].transform('count')
dfPurchasedDDNaDropped

/Users/pragatwagle/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id,quantity
0,event_time,order_id,product_id,category_id,category_code,brand,price,user_id,1
1,2020-05-01 07:43:10,2299308805957091682,1515966223509088493,2268105428166508982,electronics.smartphone,apple,740.72,1515915625453081224,1
2,2020-05-08 16:53:55,2304659432316862944,1515966223509088493,2268105428166508982,electronics.smartphone,apple,740.72,1515915625454450410,1
3,2020-05-09 07:38:44,2305104780235636789,1515966223509088493,2268105428166508982,electronics.smartphone,apple,740.72,1515915625454861346,1
4,2020-05-09 13:57:03,2305295192720147074,1515966223509088493,2268105428166508982,electronics.smartphone,apple,740.72,1515915625457184291,1
...,...,...,...,...,...,...,...,...,...
999985,2020-07-06 06:50:03,2347117264337109382,2335421146742129423,2374498914000592280,electronics.video.tv,samsung,474.51,1515915625513717824,1
999986,2020-07-05 11:43:10,2346540018324996331,2335421146742129424,2374498914000592280,electronics.video.tv,samsung,428.22,1515915625483294717,1
999992,2020-07-01 08:09:16,2343533255090766523,2337897809124000758,2268105444910170906,furniture.bedroom.bed,muljhtidom,2.99,1515915625481124730,1
999993,2020-07-06 05:29:49,2347076881167155205,2337897809124000761,2268105444734010134,furniture.living_room.shelving,muljhtidom,1.83,1515915625468558387,1
999999,2020-07-06 08:35:49,2347170498435089249,2344947876582392097,2268105422562918714,electronics.camera.video,casio,101.13,1515915625482928072,1

In [138]:
#need to get all order_id is order's table to meet fk constraints
order_is_in_orderTable = orderDFForInsert['order_id']

#need to get all order_id is order's table to meet fk constraints
product_is_in_productTable = productDFForInsert['product_id']

In [140]:

#only keep rows where order id is in the Orders Table
integrity_purchased_orders_df = dfPurchasedDDNaDropped[dfPurchasedDDNaDropped['order_id'].isin(list(order_is_in_orderTable))]

#only keep rows where order id is in the Orders Table
integrity_purchased_products_df = integrity_purchased_orders_df[dfPurchasedDDNaDropped['product_id'].isin(list(product_is_in_productTable))]

#get subset to insert
integrity_purchased_orders_df_subset= integrity_purchased_products_df[['product_id','order_id','quantity', 'event_time', 'user_id']]

/Users/pragatwagle/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [141]:
integrity_purchased_orders_df_subset[1:].to_sql('PurchasedProducts', con = engine, if_exists = 'append', chunksize = 1000, index = False)

## Closing the connection for insertion of data

In [ ]:
cursor.close()
mydb.close()